.songs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  & .song {
    width: 100%;
  }
}

.songs-heading {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
