.playlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.playlist-box {
  width: 22.5%;
  height: 300px;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 2%;
  box-shadow: 0px 0px 10px rgb(204, 204, 204);
  background-color: white;
  border-radius: 7px;
  padding: 7px;
}
.playlist-img {
  width: 100%;
  border-radius: 7px;
  height: 190px;
}
.playlist-name {
  font-weight: bold;
  color: gray;
}
