$btn-text-color: white;
$btn-bg: #0294ff;
$btn-bg-hover-color: #007cd5;
$input-border-color: #e1e1e1;
$border-color: #e1e1e1;
$text-placeholder-color: #2e2c2e;
$text-dark: #333;
$input-bg-color: #fafafa;
